/* Общие стили для страницы */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
  text-align: center;
}

/* Профиль */
.profile {
  margin: 20px auto;
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile button:hover {
  background-color: #0056b3;
}

/* Навигационное меню */
nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #007bff;
  display: flex;
  justify-content: space-evenly; /* Равномерное распределение блоков */
  align-items: center; /* Центрирование элементов по вертикали */
  padding: 10px 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Тень для эффекта */
}

nav a {
  flex: 1; /* Каждый элемент занимает равную ширину */
  text-align: center; /* Текст по центру */
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0; /* Отступы внутри блока */
}

nav a:hover {
  background-color: #0056b3; /* Фон при наведении */
  text-decoration: underline;
  border-radius: 5px; /* Небольшое скругление */
}

/* Общий стиль для всех кнопок */
button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Специальный стиль для кнопки "Войти через Telegram" */
#loginButton {
  margin-top: 20px;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#loginButton:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
